{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load custom_tags %}
{% load i18n %}
{% load tz %}

{% block title %}
<!--Posts-->
{% endblock title %}


{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page title</title>

</head>
<body>
    {% for model in Post %}
    <div class="model-class">
        {{ model.name }}

    </div>
    {% endfor %}

<h1>{% trans 'All news' %}:{{news|length}}</h1>





<hr>

    {% if perms.news.add_post %}
    <a href="{% url 'new_create' %}">{% trans 'Add post' %}</a>
    {% endif %}
   {% if news %}
       <table>
           <tr>
               <td>{% trans 'Type' %}</td>
               <td>{% trans 'Header' %}</td>
               <td>{% trans 'Publication date' %}</td>
               <td>{% trans 'Content' %}</td>
               <td>{% trans 'Category' %}</td>

                {% if perms.news.change_post or perms.news.delete_post %}
                <td>{% trans 'Actions' %}</td>
                {% endif %}


           </tr>
           {% for new in news %}
           <tr>
               <td>{{ new.get_categoryType_display }}</td>
               <td>{{ new.title }}</td>
               <td>{{ new.dataCreation|date:'d M Y'}}</td>
               <td>{{ new.text|censor|truncatechars:20 }}</td>
               <td>
                   {% for category in new.postCategory.all %}
                        <a href="{% url 'category_list'  category.id %}">{{ category.name }}</a>

                   {% endfor %}
               </td>

                <td>
                    {% if perms.news.change_post %}
                    <a href="{% url 'new_edit' pk=new.id %}">{% trans 'Change' %}</a>
                    {% endif %}
                    {% if perms.news.delete_post %}
                    <a href="{% url 'new_delete' new.id %}">{% trans 'Delete' %}</a>
                    {% endif %}
                    <a href="{% url 'new_detail' new.id %}">{% trans 'Read' %}</a>
                </td>
           </tr>
           {% endfor %}
       </table>
   {% else %}
       <h2>{% trans 'No, news!' %}</h2>
   {% endif %}
 {% if page_obj.has_previous %}
        <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}
{{ page_obj.number }}
{% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
{% endif %}
{% endblock content %}
</body>
</html>