{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load custom_tags %}


{% block title %}
<!--Posts-->
{% endblock title %}


{% block content %}
<h1>Все новости:{{news|length}}</h1>




 <h3>{{ time_now|date:'d M Y' }}</h3>
<hr>

    {% if perms.news.add_post %}
    <a href="{% url 'new_create' %}">Добавить пост</a>
    {% endif %}
   {% if news %}
       <table>
           <tr>
               <td>Категория</td>
               <td>Заголовок</td>
               <td>Дата публикации</td>
               <td>Содержание</td>

                {% if perms.news.change_post or perms.news.delete_post %}
                <td>Действия</td>
                {% endif %}


           </tr>
           {% for new in news %}
           <tr>
               <td>{{ new.get_categoryType_display }}</td>
               <td>{{ new.title }}</td>
               <td>{{ new.dataCreation|date:'d M Y'}}</td>
               <td>{{ new.text|censor|truncatechars:20 }}</td>
                <td>
                    {% if perms.news.change_post %}
                    <a href="{% url 'new_edit' pk=new.id %}">Изменить</a>
                    {% endif %}
                    {% if perms.news.delete_post %}
                    <a href="{% url 'new_delete' new.id %}">Удалить</a>
                    {% endif %}
                    <a href="{% url 'new_detail' new.id %}">Читать</a>
                </td>
           </tr>
           {% endfor %}
       </table>
   {% else %}
       <h2>Новостей, нет!</h2>
   {% endif %}
 {% if page_obj.has_previous %}
        <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}
{{ page_obj.number }}
{% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
{% endif %}
{% endblock content %}